# Unix
alias ll="ls -al"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Monthly
alias be='docker exec -u root ${EXEC_FLAGS:--it} monthly_debug /bin/zsh'
