# Unix
alias ll="ls -al"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Docker
alias d-rai='docker rmi -f $(docker images -aq)'   # Remove all images
alias d-rav='docker rm -vf $(docker ps -aq)'       # Remove all volumes
alias d-sac='docker stop $(docker ps -a -q)'       # Stop all containers
alias d-rac='docker rm -f $(docker ps -a -q)'      # Remove all containers
alias d-srac='d-sac && d-rac'                      # Stop and remove all containers
alias d-sp='docker system prune -af --volumes'     # Remove entire docker system

# Monthly
alias be='docker exec -u user ${EXEC_FLAGS:--it} monthly_debug /bin/zsh'

# Binds
## give us access to ^Q
stty -ixon

## Vi mode (use vim bindings on terminal)
bindkey -v
bindkey "^F" vi-cmd-mode

## Handy keybindings
bindkey "^A" beginning-of-line
bindkey "^E" end-of-line
bindkey "^K" kill-line
bindkey "^R" history-incremental-search-backward
bindkey "^P" history-search-backward
bindkey "^Y" accept-and-hold
bindkey "^N" insert-last-word
bindkey "^Q" push-line-or-edit
bindkey -s "^T" "^[Isudo ^[A" # "t" for "toughguy"
